<h1>Welcome to the news page, <a href="https://newsapi.org/">Powered by News API</a></h1>
<h2>Get the top 10 latest news and stay updated!</h2>

<a href="https://newsapi.org/sources">Use this guide to find a source!</a>

<form action="/results" method="GET">
    <input type="text" placeholder="enter a source" name="sourceName">
    <button>Read News!</button>
</form>

